/* 改变主题色变量 */
$--color-primary: #5675e7;
$--input-background-color:#fbfbfb;
$--menu-background-color:#474e75;

/* 改变 icon 字体路径变量，必需 */
$--font-path: "~element-ui/lib/theme-chalk/fonts";

@import "~element-ui/packages/theme-chalk/src/index";
