*,
*::before,
*::after {
  box-sizing: border-box; // 1
  background-repeat: no-repeat;
}

html,
body,
div,
h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
dl,
li,
dt,
dd,
p,
blockquote,
pre,
form,
fieldset,
table,
th,
td {
  border: none;
  margin: 0px;
  padding: 0px;
  letter-spacing: 1px;
}